.nav {
  position: fixed;
  width: 100%;
  background: #fcfcfc;
  padding: 20px 50px;
  left: 0;
  bottom: 0;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .nav__list a {
  font-size: 20px;
}

.nav__list .nav__list-item a {
  position: relative;
}

.nav__badge {
  position: absolute;
  right: -10px;
  top: -5px;
  font-size: 8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes showNavBar {
  from {
    transform: translateY(80px);
  }
  to {
    transform: none;
  }
}

.nav {
  transform: translateY(80px);
  animation: showNavBar 0.5s ease-out forwards;
  animation-delay: 0.5s;
}
